body {
    margin: 0;
    padding: 0;  
}

#win {
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

#win img {
    height: 100%;
    width: 100%;
    position: absolute;
}

#win a {
    position: absolute;
    background-color: rgba(241, 238, 45, 0.269);
    text-decoration: none;
    border: 2px solid rgb(111, 10, 59);
    border-radius: 50%;
    color: rgb(252, 6, 6);
}

#play {
    margin: 10vh 0;
    font-size: 3vw;
    padding: 3vh 5vw;
}

#quit {
    right: 2vw;
    bottom: 2vh;
    font-size: 1.5vw;
    padding: 3.5vh 1vw;
}